<%- include("partials/header.ejs");-%>
        <h1>Home</h1>
        <p> <%=text%> </p>
        <h1>The Blog</h1>

        <p>
      <%  entry.forEach(function(entry){ %>
        <h1><%=entry.Title%></h1>
        <p><%=entry.Body.substring(0,100)+" ..."%>
                <a href="/posts/<%entry.Title">Read More</a> 
        </p>
      <% }) %>
       <p>
 
<%- include("partials/footer.ejs");-%>